# Ignore .env file in the source directory
**/.env

# Ignore __pycache__ directories
**/__pycache__/

# Ignore compiled Python files
**/*.pyc

# Ignore the build directory
./.vscode/

# Ignore .txt files
*.txt

# Ignore .git files
.git/
./leetcode/