# Ignore .env file in the source directory
source/.env

# Ignore __pycache__ directories
**/__pycache__/

# Ignore compiled Python files
**/*.pyc

# Ignore the build directory
.vscode/

# Ignore .git files
.git/

# Ignore profile pictures
source/transcendence/profile_pics/

# Ignore migration files
**/migration/

# Ignore the pfp directory
**/profile_pics/