{% load static %}

<!-- Notifications -->
{% if notifications %}
  {% for notification in notifications %}
    <li style="border-bottom: 1px solid #ffffff; padding-bottom: 0.3rem; margin-bottom: 0.3rem;">
      <a class="dropdown-item" href="/profile/{{ notification.sender_username }}">
        {% if notification.sender_profile_picture %}
          <img src="{{ notification.sender_profile_picture }}" alt="Profile Picture" class="profile-pic-nav rounded-circle" style="width: 32px; height: 32px" />
        {% else %}
          <img src="{% static 'images/default_profile_pic.jpeg' %}" alt="Default Profile Picture" class="profile-pic-nav rounded-circle" style="width: 32px; height: 32px" />
        {% endif %}Friend Request <i class="fas fa-user-plus ms-3"></i>
        <p class="notificationMsg test-mute mt-2 mb-0" style="color: antiquewhite; font-size: 12px;">{{ notification.sender_username|slice:":5" }} Friend request - '{{ notification.notification_type }}'</p>
      </a>
    </li>
  {% endfor %}
{% else %}
  <p class="text-center my-2">No notifications yet!</p>
{% endif %}
