{% load static %}

<div class="background-image">
  <div class="container my-5 blur-layer">
    <h3 class="text-center"><span>{{ queried_player.full_name }}'s Profile</span></h3>
    <hr />
    <div class="container profile-info">
      <div class="container user-details d-flex align-items-center">
        <div class="profile-dom me-4 position-relative">
          {% if queried_player.profile_picture %}
          <img src="{{ queried_player.profile_picture.url }}" alt="Profile Picture" class="rounded-circle profile-pic"
            style="height: 160px; width: 160px" />
          {% else %}
          <img src="{% static 'images/default_profile_pic.jpeg' %}" alt="Default Profile Picture"
            class="rounded-circle profile-pic" />
          {% endif %}
        </div>

        <div class="form-container">
          <div class="form-group row">
            <label for="full_name" class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="full_name" value="{{ queried_player.full_name }}" disabled />
            </div>
          </div>
          <div class="form-group row">
            <label for="username" class="col-sm-3 col-form-label">Username</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="username" value="{{ queried_player.username }}" disabled />
            </div>
          </div>

          <div class="form-group row">
            <label for="email" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-7">
              <input type="email" class="form-control" id="email" value="{{ queried_player.email }}" disabled />
            </div>
          </div> <br>
        </div>
        {% comment %} Setting up what buttons to display based on thier friendship/freind request status - POV of the user loged in {% endcomment %}
        {% if is_friend %}
          <button id="unfriend_btn" type="button" class="btn btn-danger">Un-Friend</button>
        {% elif is_requested_by_me %}
          <button id="cancel_request_btn" type="button" class="btn btn-danger">Cancel Friend Request</button>
        {% elif am_i_requested %}
          <button id="accept_request_btn" type="button" class="btn btn-success">Accept Friend Request</button>
          <button id="decline_request_btn" type="button" class="btn btn-warning">Decline Friend Request</button>
        {% elif not is_self %}
          <button id="add_friend_btn" type="button" class="btn btn-danger">Send Friend Request</button>
        {% comment %} we can add edit profile and shit here that are only specific to the current user {% endcomment %}
        {% endif %}
        <br />
      </div>
    </div>
  </div>
</div>