* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.form-cont {
  margin: 10rem;
  border-radius: 1.5rem;
  min-width: 25rem;
  max-width: 30rem;
  padding-bottom: 3rem;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

.background-image {
  height: 100%;
}

.form-cont h1 {
  color: white;
}

.form-cont input {
  border: 0.1rem solid #b02c98;
  margin: 0rem;
}

.form-cont .first-last_name {
  display: inline-flex;
  gap: 15px;
}

.form-cont button:hover {
  background-color: #b02c98;
  color: black;
}

.form-cont p {
  margin: 0;
  padding: 0;
}

.form-cont p a {
  color:#3399ff;
}

.form-cont p a:hover {
  color: #b02c98;
}


.first-name,
.last-name {
  flex: 1;
}

.or-separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

.or-separator span {
  margin: 0 1rem;
  font-weight: 800;
}

.or-separator:before,
.or-separator:after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}
