{% load static %}

{% if messages %}
  {% for message in messages %}
    {% if message.get_sender == current_user.username %}
      <div class="chat-message sender">
        <div class="message-content">{{ message.content }}</div>
      </div>
    {% else %}
      <div class="chat-message reciever">
        <div class="message-content">{{ message.content }}</div>
      </div>
    {% endif %}
  {% endfor %}
{% else %}
	<div id="no_msg_found" class="d-flex flex-column justify-content-center align-items-center py-5 mt-5">
		<h5>No messages to display yet.</h5>
		<p>Start a conversation to see messages here.</p>
	</div>
{% endif %}
