/* 
body {
  background-image: url('/static/images/Gaming-0_generated.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

.content {
  background-color: black;
}