.background-image {
  height: 80rem;
	background-image: url('/static/images/download.jpeg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	/* flex: 1; */

}

.form-cont {
  margin: 10rem;
  border-radius: 1.5rem;
  min-width: 25rem;
  max-width: 30rem;
  padding-bottom: 3rem;
  border: var(--sds-size-stroke-border) solid rgba(255, 255, 255, 0.10);
  background: linear-gradient(140deg, rgba(255, 255, 255, 0.12) -1.82%, rgba(255, 255, 255, 0.04) 68.19%, rgba(255, 255, 255, 0.03) 80.14%);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(30rem);
  color: white;
}

.form-cont h1 {
  color: white;
}

.form-cont input {
  border: 0.1rem solid #b02c98;
  margin: 0rem;
}

.form-cont .first-last_name {
  display: inline-flex;
  gap: 15px;
}

.form-cont button {
  background-color: #3399ff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.form-cont button:hover {
  background-color: #b02c98;
  color: black;
}

.form-cont p {
  margin: 0;
  padding: 0;
}

.form-cont p a {
  color:#3399ff;
}

.form-cont p a:hover {
  color: #b02c98;
}


.first-name,
.last-name {
  flex: 1;
}

.or-separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

.or-separator span {
  margin: 0 1rem;
  font-weight: 800;
}

.or-separator:before,
.or-separator:after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}
