* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-items: center;
}

.form-cont {
  border-radius: 20px;
  min-width: 450px;
  max-width: 600px;
  padding-bottom: 30px;
}

.first-last_name {
  display: inline-flex;
  /* border: 1px solid blue; */
  gap: 15px;
}

.first-name,
.last-name {
  /* border: 1px solid green; */
  /* align-self: flex-start; */
  flex: 1;
}

.or-separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.or-separator span {
  margin: 0 10px;
  font-weight: 600;
}

.or-separator:before,
.or-separator:after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}
