* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* min-width: 700px; This will be added for min width of the body */
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  min-width: 415px;
  min-height: 810px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.custom-navbar {
  background-color: black;
  /* padding: 0; */
  margin: 20px auto;
  position: fixed;
  top: 0;
  width: 60%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 1px solid #84ddfc;
}

/* Style the brand logo */
.custom-navbar .navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  color: #84ddfc;
}

.custom-navbar .navbar-brand:hover {
  color: #b02c98;
}

/* Style the navigation links */
.custom-navbar .nav-link {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  color: #84ddfc;
}

.custom-navbar .nav-link:hover {
  color: #b02c98;
}

/* Change navbar toggler color */
.custom-navbar .navbar-toggler {
  border-color: #84ddfc;
}

#content {
  /* margin-top: 55px; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; */
  height: 100%;
}

footer {
  background-color: darkgrey;
  opacity: 0.8;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* padding: 1rem; */
  /* height: 15%;  */
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0rem;
}

footer ul li {
  margin: 10px;
}

footer h5 {
  margin-bottom: 20px;
}

.footer-links {
  display: flex;
  gap: 20px;
  justify-content: center;
}

footer ul li a {
  color: white;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}