.background-image {
  background-image: url('/static/images/background2.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 85vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.content {
  /* background-color: rgba(255, 255, 255, 0.5); */
  border: var(--sds-size-stroke-border) solid rgba(255, 255, 255, 0.10);
  background: linear-gradient(140deg, rgba(255, 255, 255, 0.12) -1.82%, rgba(255, 255, 255, 0.04) 68.19%, rgba(255, 255, 255, 0.03) 80.14%);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(30rem);
  height: 30rem;
  width: 25rem;
  margin: 10rem 0 4rem 0;
  border-radius: 0.6rem;
}

.list-group {
  padding: 2rem;

  border-radius: 0.5rem;
}

.list-group-item {
  height: 80px;
  padding: 10px;
  /* margin: 0.8rem ; */
  border: 2px solid #84ddfc; 
  border-radius: 0.5rem;
  background-color: transparent; 
  color: white; 
  display: flex; 
  align-items: center;
  justify-content: center;
}

.list-group-item:hover {
  /* add good effect */
  background-color: rgb(48, 206, 156);
  color: black;
}