.tournamentPage .background-image {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/static/images/background2.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 1.5rem 0;

	height: fit-content;
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #84ddfc;
}

.tournamentWrapper {
	background: linear-gradient(140deg,
			rgba(255, 255, 255, 0.12) -1.82%,
			rgba(255, 255, 255, 0.04) 68.19%,
			rgba(255, 255, 255, 0.03) 80.14%);
	backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 15px;
	transition: all 0.3s ease;
	padding: 2rem 1rem;
}


.card {
	background: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	color: white;
	/* border: 1px solid #ddd; */
	transition: all 0.3s ease;
}

.card:hover {
	transform: translateY(-5px);
	box-shadow: 0 4px 15px rgba(132, 221, 252, 0.3);
}

.card-title {
	display: flex;
	justify-content: center;
	color: #b02c98;
}

.profileIcon {
	font-size: 1.5rem;
	margin-right: 8px;
}

.team {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #84ddfc;
	/* margin: 0 10px; */
}

.card-body-custom {
	width: max-content;
	height: 80px;
}

.team span {
	margin: 0 5px 0 0;
}

span.score-value {
	margin: 0 0;
}

.score {
	margin: 0 10px;
	color: aqua;
}

/* .vertical-line {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.vertical-line::before {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #b02c98;
	z-index: 0;
} */

.round {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.game {
	margin-bottom: 40px;
	position: relative;
}

.connection-line {
	position: absolute;
	background-color: #b02c98;
	z-index: 0;
}

/* First Round to Second Round Connections */
.connection-1-5 {
	width: 10px;
	height: 2px;
	top: 50%;
	left: 100%;
}

.connection-1-5::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 130px;
	top: 50%;
	left: 100%;
	background-color: #b02c98;
	z-index: 0;
}

.connection-2-5 {
	width: 28px;
	height: 2px;
	top: 50%;
	left: 100%;
}

.connection-4-6::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 130px;
	top: 50%;
	left: 100%;
	background-color: #b02c98;
	transform: translateY(-100%);
	z-index: 0;
}

.connection-3-6 {
	width: 28px;
	height: 2px;
	top: 50%;
	left: 100%;
}

.connection-4-6 {
	width: 10px;
	height: 2px;
	top: 50%;
	left: 100%;
}

/* Second Round to Final Connection */
.connection-5-7 {
	width: 10px;
	height: 2px;
	top: 50%;
	left: 100%;
}

.connection-5-7::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 105px;
	top: 50%;
	left: 100%;
	background-color: #b02c98;
	z-index: 0;
}

.connection-6-7 {
	width: 20px;
	height: 2px;
	top: 20%;
	left: 100%;
}


/* Responsive Design */
@media (max-width: 768px) {

	.profileIcon {
		display: none;
	}

	.card-title {
		font-size: 18px;
	}

	.team,
	.score {
		font-size: 14px;
	}

	.round {
		margin-bottom: 50px;
	}
}