.background-image {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-image: url('/static/images/download.jpeg');
	background-size: cover;
	background-position: center;
	color: white;
}

.form-cont {
	margin-top: 5rem;
	border-radius: 1.5rem;
	background: linear-gradient(140deg, rgba(255, 255, 255, 0.12) -1.82%, rgba(255, 255, 255, 0.04) 68.19%, rgba(255, 255, 255, 0.03) 80.14%);
	box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
	color: white;
	backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.form-cont h1 {
	font-size: 1.8rem;
}


.form-cont button {
	color: white;
	border: none;
	transition: background-color 0.3s;
}

.form-cont button:hover {
	background-color: #b02c98;
}