.background-image {
    background-image: url('/static/images/background2.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.blur-layer {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    width: 50rem;
    padding: 2rem;
    border-radius: 10px;
}


h3 {
    color: white;
}

.form-group {
    margin-bottom: 0.6rem;
    color: white;
}

.form-container label {
    padding-left: 1rem;
}

#edit-username-icon, #edit-email-icon, #edit-password-icon {
    background: rgba(255, 255, 255, 0.1);
    border: none;
}

#edit-username-icon:hover, #edit-email-icon:hover, #edit-password-icon:hover {
    background: #3399ff;
}

.profile-dom {
    display: flex;
    align-items: center; /* Ensures the profile picture is vertically aligned with the form */
    position: relative; /* Establishes a positioning context for the icon */
}

.icon {
    position: absolute; /* Allows positioning within the .profile-dom */

}

.user-details {
    /* background-color: #b02c98; */
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 5px;
    /* justify-content: center;
    align-items: center; */
}

.profile-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input {
    border: 2px solid #74C0FC;
    border-radius: 0.3rem;
}

button {
    transition: all 0.2s ease-in-out;
}

button:hover {
    /* transform: scale(1.05); */
    color: #b02c98;
}

.btn-light {
    border: 1px solid #ccc;
    background-color: white;
}

hr {
    border-top: 1px solid #ccc;
}

#pass-change-div {
    background: rgba(240, 240, 240, 0.9);
    padding: 2rem;
    border-radius: 5px;
}


.user-details {
    /* background-color: #b02c98; */
    display: flex;
    flex-direction: row; /* Ensures items are aligned in a row */
    padding: 2rem;
    border-radius: 5px;
}

.form-container {
    flex-grow: 1; /* Ensures the form takes up available space next to the image */
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
