<!-- load content -->
{% load static %}

<div class="gamePage">
  <div class="background-image">
    <div id="warningMessage" class="d-none text-center text-light bg-danger p-2">
      <h3>Screen too small to play</h3>
      <p>
        Please switch to a laptop or desktop with a larger screen for the best
        experience.
      </p>
    </div>
    <div id="gameContent">
      <div class="justify-content-center mb-3">
        <div id="controls" class="col-12 text-center">
          {% if isAI %}
          	<button id="aiButton" type="button" class="btn btn-primary me-3"> Start game </button>
          {% else %}
         	 <button id="startButton" type="button" class="btn btn-primary me-3"> Start game </button>
          {% endif %}
          <button id="settingButton" onclick="gameSettingsModal()" type="button" class="btn btn-secondary"> settings </button>
        </div>
      </div>
      <div class="justify-content-center">
        <!-- Player names & score hidden until game starts-->
        <div id="player1" class="col-12 col-md-6 text-center d-none">
          <h3 id="player1Name" class="playerNames">Player 1</h3>
        </div>
        <div id="player2" class="col-12 col-md-6 text-center d-none">
          <h3 id="player2Name" class="playerNames">Player 2</h3>
        </div>
        <div class="text-center">
          <canvas id="board" class="mt-2 shadow"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="gamePage">
	<div class="background-image">
		<div class="container py-5 d-flex justify-content-center ">

			<div id="settingsMenu" class="menu">
				<h2>Game Settings</h2>
				<label for="paddleSpeed">Paddle Speed:</label>
				<input type="number" id="paddleSpeed" min="1" value="6"><br><br>

				<label for="ballSpeed">Ball Speed:</label>
				<input type="number" id="ballSpeed" min="1" value="4.5"><br><br>

				<label for="maxScore">Score to win:</label>
				<input type="number" id="maxScore" min="1" value="3"><br><br>

				<label for="slowServe">Slow Serves:</label>
				<input type="checkbox" id="slowServe"><br><br>

				<button id="applyButton">Apply Settings</button>
				<div id="errorMessages"></div>
			</div>
			<div id="controls">
				<button id="startButton">Start Game</button>
				<button id="settingButton">Settings</button>
				<button id="aiButton">Play with AI</button>
			</div>
			<canvas id="board"></canvas>
		</div>
	</div>
</div> -->
