
{% load static %}

<div class="first-page">
  <div class="background-image">
    <div class="container content text-center" style="background: red">
      <input type="text" id="searchInput" placeholder="Search for users..." />
      <button id="searchIcon" type="button">
        <i class="fa-solid fa-search"></i>
      </button>
      <div id="searchResults"></div>
    </div>
    <div class="list-group content">
      <a href="#" class="list-group-item">
      Local Game
      </a>
      <a onclick="appRouter()" href="/profile" class="list-group-item">Profile</a>
      <a href="#" class="list-group-item">Create tournament</a>
      <a onclick="appRouter()" href="/settings" class="list-group-item">Settings</a>
      <a href="#" class="list-group-item">Other Game</a>
    </div>
  </div>
</div>