{% load static %}

<div id="landing" class="first-page vh-100">
  <div class="background-image">
    <div class="content-wrapper container px-3">
      <div class="content text-center p-3 p-md-4">
        <h1 class="title-gradient mb-3 mb-md-4">Experience the thrill of ping pong like never before!</h1>
        <p class="subtitle mb-4">
          Play anytime, anywhere. <br class="d-none d-md-block" />
          Compete, connect, and have fun with players worldwide!
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center landing-btn">
          <a onclick="appRouter()" href="/signin" class="btn btn-primary px-4 me-sm-3"><i class="fas fa-sign-in-alt me-2"></i>Sign In</a>
          <a onclick="appRouter()" href="/signup" class="btn btn-outline-light px-4"><i class="fas fa-user-plus me-2"></i>Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>
