<!-- <div id="landing" class="container">
  <h1>Welcome to Our App!</h1>
  <p>Please sign in or create an account to get started.</p>
  <button id="signin-btn">Sign In</button>
  <button id="signup-btn">Sign Up</button>
</div> -->

<div id="landing" class="first-page">
  <div class="background-image">
    <div class="content text-center">
      <h3>
        Experience the thrill of ping pong like never before <br />
        right here on our platform!
      </h3>
      <p>
        Play anytime, anywhere. <br />
        Compete, connect, and have fun!
      </p>
    </div>
  </div>
</div>