{% load static %}

<div class="background-image">
  <div class="container my-5 blur-layer">
    <h3 class="text-center"><span>{{ full_name }}'s Profile</span></h3>
    <hr />
    <div class="container profile-info">
      <div class="container user-details d-flex align-items-center">
        <div class="profile-dom me-4 position-relative"> 
          {% if profile_pic %}
              <img src="{{ profile_pic }}" alt="Profile Picture" class="rounded-circle profile-pic" style="height: 160px; width: 160px;" />
          {% else %}
              <img src="{% static 'images/default_profile_pic.jpeg' %}" alt="Default Profile Picture" class="rounded-circle profile-pic" />
          {% endif %}
        </div>

      
        <div class="form-container">
            <div class="form-group row">
                <label for="full_name" class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="full_name" value="{{ full_name }}" disabled />
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="username" value="{{ username }}" disabled />
                </div>
            </div>
    
            <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="email" value="{{ email }}" disabled />
                </div>
            </div>
          </div> <br>
        </div>
        <div class="container my-5 d-flex justify-content-center">
          <div class="d-flex justify-content-between align-items-center ">
            <button id="add_firend_btn" class="btn btn-primary mx-2">Add Friend</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
