{% load static %}
<div class="tournamentPage">	
	<div class="background-image">
		<div class="tournamentWrapper container">
			<div class="container my-5">
				<h1 class="text-center mb-5">Tournament Map</h1>

				<div class="row d-flex align-items-center">
					<!-- First Round -->
					<div class="col-4 d-flex flex-column align-items-end">
						<div class="round first-round mb-5">
							<h2 class="text-center">First Round</h2>
							<div class="vertical-line">
								<!-- Game 1 -->
								<div class="game mb-5">
									<div class="card">
										<div class="card-body">
											<h5 class="card-title">Game 1</h5>
											<div class="d-flex justify-content-between align-items-center">
												<div class="team">
													<i class="fas fa-user-circle me-2"></i>
													<span class="me-2">Miguel</span>
												</div>
												<div class="score">
													<span class="score-value">5</span> : <span class="score-value ms-2">1</span>
												</div>
												<div class="team">
													<span class ms-2>Tom</span>
													<i class="fas fa-user-circle ms-2"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Game 2 -->
								<div class="game mb-5">
									<div class="card">
										<div class="card-body">
											<h5 class="card-title">Game 2</h5>
											<div class="d-flex justify-content-between align-items-center">
												<div class="team">
													<i class="fas fa-user-circle me-2"></i>
													<span class="me-2">Haben</span>
												</div>
												<div class="score">
													<span class="score-value">5</span> : <span class="score-value ms-2">3</span>
												</div>
												<div class="team">
													<span class="ms-2">Nick</span>
													<i class="fas fa-user-circle ms-2"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Game 3 -->
								<div class="game mb-5">
									<div class="card">
										<div class="card-body">
											<h5 class="card-title">Game 3</h5>
											<div class="d-flex justify-content-between align-items-center">
												<div class="team">
													<i class="fas fa-user-circle me-2"></i>
													<span class="me-2">Santos</span>
												</div>
												<div class="score">
													<span class="score-value">2</span> : <span class="score-value ms-2">5</span>
												</div>
												<div class="team">
													<span class="ms-2">Martin</span>
													<i class="fas fa-user-circle ms-2"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Game 4 -->
								<div class="game mb-5">
									<div class="card">
										<div class="card-body">
											<h5 class="card-title">Game 4</h5>
											<div class="d-flex justify-content-between align-items-center">
												<div class="team">
													<i class="fas fa-user-circle me-2"></i>
													<span class="me-2">Alex</span>
												</div>
												<div class="score">
													<span class="score-value">4</span> : <span class="score-value ms-2">5</span>
												</div>
												<div class="team">
													<span class ms-2>Tofara</span>
													<i class="fas fa-user-circle ms-2"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Second Round -->
					<div class="col-4 d-flex flex-column align-items-center">
						<div class="round second-round mb-5">
							<h2 class="text-center">Second Round</h2>
							<div class="vertical-line">
								<!-- Game 5 -->
								<div class="game mb-5">
									<div class="card">
										<div class="card-body">
											<h5 class="card-title">Game 5</h5>
											<div class="d-flex justify-content-between align-items-center">
												<div class="team">
													<i class="fas fa-user-circle ms-2"></i>
													<span class="ms-2 me-2">Miguel</span>
												</div>
												<div class="score">
													<span class="score-value">5</span> : <span class="score-value ms-2">4</span>
												</div>
												<div class="team">
													<span class="ms-2">Haben</span>
													<i class="fas fa-user-circle ms-2"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Game 6 -->
								<div class="game mb-5">
									<div class="card">
										<div class="card-body">
											<h5 class="card-title">Game 6</h5>
											<div class="d-flex justify-content-between align-items-center">
												<div class="team">
													<i class="fas fa-user-circle ms-2"></i>
													<span class="ms-2 me-2">Martin</span>
												</div>
												<div class="score">
													<span class="score-value">5</span> : <span class="score-value ms-2">4</span>
												</div>
												<div class="team">
													<span>Tofara</span>
													<i class="fas fa-user-circle ms-2"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Additional Games -->
								<!-- Add Game 6 here following the same structure -->
							</div>
						</div>
					</div>

					<!-- Final Round -->
					<div class="col-4 d-flex flex-column align-items-start">
						<div class="round final-round">
							<h2 class="text-center">Final Round</h2>
							<div class="vertical-line">
								<!-- Game 7 -->
								<div class="game mb-5">
									<div class="card">
										<div class="card-body">
											<h5 class="card-title">Game 7</h5>
											<div class="d-flex justify-content-between align-items-center">
												<div class="team">
													<i class="fas fa-user-circle ms-2"></i>
													<span class="ms-2 me-2">Miguel</span>
												</div>
												<div class="score">
													<span class="score-value">5</span> : <span class="score-value ms-2">0</span>
												</div>
												<div class="team">
													<span class="ms-2">Martin</span>
													<i class="fas fa-user-circle ms-2"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>