{% load static %}

<div class="page">
  <div class="background-image home-btn w-100">
    <div class="friendBoard py-5  flex-direction: column">
      <!-- Search and Friends Section -->
      <div class="row justify-content-center mb-4">
        <div class="col-lg-8">
          <div class="content p-4">
            <div class="row g-3">
              <!-- Search Bar -->
              <div
                style="
                  display: flex;
                  align-items: center;
                  margin: auto;
                  margin-top: 36px;
                  margin-bottom: 36px;
                "
              >
                <div class="input-group">
                  <input
                    type="text"
                    id="searchInput"
                    class="form-control"
                    placeholder="Add new player..."
                  />
                  <button id="searchIcon" class="btn btn-primary">
                    <i class="fa-solid fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
            <div
              id="createTournamentBtn"
              class="col-md-6 button-holder d-flex"
              style="margin-bottom: 36px; gap: 12px; flex-direction: column"
            >
              <button
                class="menu-item d-flex justify-content-center align-items-center p-3"
              >
                <i class="fas fa-user fa-1x me-2"></i>
                <h6 class="mb-0">Tofara Mususa</h6>
              </button>
            </div>
            <button
              id="startButton"
              class="btn btn-success btn-md"
              style="display: flex; align-items: center"
            >
              Start Tournament
            </button>
          </div>
        </div>
      </div>
    </div>
	<div id="tableBoard" class="justify-content-center">
        <div class="gamePlayers d-flex justify-content-between">
          <div id="player1" class="col-12 col-md-6 text-center d-none">
            <h3 id="player1Name" class="playerNames"></h3> 
          </div>
          <div id="player2" class="col-12 col-md-6 text-center d-none">
            <h3 id="player2Name" class="playerNames"></h3>
          </div>
        </div>
        <div class="text-center">
          <canvas id="board" class="mt-2 shadow"></canvas>
        </div>
  </div>
</div>
