{% load static %}

<div class="two-factor-page">
  <div class="background-image w-100 vh-100 d-flex justify-content-center align-items-center">
    <div class="container py-5">
      <form class="col-12 col-md-8 col-lg-6 mx-auto form-cont" onsubmit="handleOTPSubmit(event)">
        {% csrf_token %}
        <div class="text-center mb-3">
          <h2>Two-Factor Authentication</h2>
        </div>
      <hr />

        <div class="alert alert-danger" role="alert" id="error-msg" style="display: none"></div>

        <div class="mb-4">
          <p class="text-white-50 mb-4">
            An OTP has been sent to <span id="2fa_player_email">{{ email }}</span>. Please enter it below to verify your identity.
            <br>
          </p>
          
          <div class="form-group">
            <label for="otp" class="form-label">Enter OTP</label>
            <div class="input-group">
              <span class="input-group-text bg-transparent border-end-0">
                <i class="fas fa-key text-light"></i>
              </span>
              <input type="text" class="form-control border-start-0" 
              name="otp" id="otp" placeholder="Enter OTP code" required />
            </div>
          </div>
        </div>
        
        <button type="submit" class="btn btn-primary w-100 mb-3">
          <i class="fas fa-shield-alt me-2"></i>Verify OTP
        </button>
        <small class="text-warning">Note: OTP will expire in 2 minutes</small>

        <div class="text-center mt-4">
          <p class="mb-0">
            Didn't receive the code? 
            <a href="#" class="text-primary">Resend OTP</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>