{% load static %}

<div class="background-image">
  <div class="container my-5 ">
    <form class="col-6 mx-auto card p-3 form-cont" onsubmit="handlePassResetSubmit(event)">
      {% csrf_token %}
      <h1 class="text-center">
        <span>Enter your E-mail Address</span>
      </h1>
      <hr />
      <!-- Display error/success messages -->
      <div class="alert alert-danger" role="alert" id="error-msg" style="display: none"></div>
      <div class="mb-3">
        <label for="email" class="form-label text-left ">Email address</label>
        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" required />
        <!-- <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div> -->
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
  </div>
</div>
