{% load static %}

<div class="background-image">
  <div class="container my-5 blur-layer">
    <h3 style="text-align: center">
      <span style="color: rgb(34, 34, 34)">Edit Profile</span>
    </h3>
    <hr />
    <div class="container profile-info">
      <div class="container">
        {% if profile_pic %}
        <img src="{{ profile_pic }}" alt="profile-pic" class="rounded-circle" role="button"
          style="width: 200px; height: 200px" />
        {% else %}
        <img src="{% static 'images/default_profile_pic.jpeg' %}" alt="default-profile-pic" class="rounded-circle"
          role="button" style="width: 200px; height: 200px" />
        {% endif %}
      </div>
      <div class="container username">
        <p>{{ username }}</p>
      </div>
      <div class="container email">
        <p>{{ email }}</p>
      </div>
      <div class="container">
        <button id="add_friend" class="btn btn-primary">Add friend</button>
      </div>
      <br />
    </div>
  </div>
</div>