{% load static %}

<div class="sign_up_page">
  <div class="background-image w-100">
    <div class="container py-5">
      <form class="col-12 col-md-8 col-lg-6 mx-auto form-cont" onsubmit="handleSignupSubmit(event)">
        {% csrf_token %}
        <div class="text-center mb-3">
          <h2>Sign Up</h2>
        </div>
        <hr />

        <div class="alert alert-danger" role="alert" id="error-msg" style="display: none"></div>

        <div class="row gx-3 mb-3">
          <div class="col-md-6 mb-3 mb-md-0">
            <label for="firstName" class="form-label">First name</label>
            <input type="text" class="form-control" id="firstName" name="first_name" required />
          </div>
          <div class="col-md-6">
            <label for="lastName" class="form-label">Last name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" required />
          </div>
        </div>

        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" id="username" required />
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" name="email" id="email" required />
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="password" required />
        </div>

        <div class="mb-3">
          <label for="confirm-password" class="form-label">Confirm password</label>
          <input type="password" class="form-control" name="confirm-password" id="confirm-password" required />
        </div>

        <button type="submit" class="btn btn-primary w-100 mb-3">
          Sign Up
        </button>

        <div class="or-separator my-3">
          <span>or</span>
        </div>

        <button onclick="handle42Login()" type="button" class="btn btn-outline-light w-100 mb-3">
          <i class="fas fa-sign-in-alt me-2"></i>Sign in with 42
        </button>

        <p class="text-center mb-0">
          Already have an account?
          <a href="/signin" class="text-primary">Sign in</a>
        </p>
      </form>
    </div>
  </div>
</div>
