<div class="container my-5">
  <h3 style="text-align: center"><span style="color: rgb(34, 34, 34)">Edit Profile</span></h3>
  <hr />
  <div class="container">
    <div class="container username">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" value="{{ username }}" />
    </div>
    <div class="container email">
      <label for="email">email</label>
      <input type="text" class="form-control" id="email" value="{{ email }}" />
    </div>
  </div>
  <div class="container my-5 d-flex justify-content-center border">
    <div class="container d-flex p-2 justify-content-between">
      {% comment %} Here the text content of 2fa is gonna be dynamic {% endcomment %}
      {% if 2fa %}
        <button id="enable-disable-2fa" class="btn btn-warning">Disable 2FA</button>
      {% else %}
        <button id="enable-disable-2fa" class="btn btn-success">Enable 2FA</button>
      {% endif %}
      <button id="delete-acc-btn" type="button" class="btn btn-danger">Delete Account</button>
      <div class="col-6">
        <a onclick="route()" class="btn btn-primary" href="signout">Sign Out</a>
      </div>
    </div>
  </div>
</div>