<div class="container my-5">
  <h3 style="text-align: center"><span style="color: rgb(34, 34, 34)">Edit Profile</span></h3>
  <hr />
  <div class="container">
    <div class="container" id="profile-pic">
      {% comment %} {% if profile_picture  %}
        <img src="'{{ profile_picture }}" alt="{{ username }}'s profile">
      {% endif %} {% endcomment %}
      {% comment %} {% elif player.local_profile_picture %}
      <img src="{{ player.local_profile_picture.url }}" alt="{{ player.username }}'s profile">
      {% else %}
          <img src="{% static 'images/default_profile.jpg' %}" alt="Default profile"> {% endcomment %}
      <img src="{{ profile_pic }}" alt="profile-pic" class="rounded-circle" role="button" style="width: 200px; height: 200px;"/>
    </div>
    <div class="container username">
      <label for="username">Username</label>
      <input role="button" type="text" class="form-control" id="username" value="{{ username }}" disabled/>
      <button id="edit-username-icon" class="btn btn-dark"><i class="fa-sharp fa-solid fa-pen" style="color: #74C0FC;"></i></button>
    </div>
    <div class="container email">
      <label for="email">email</label>
      <input type="text" class="form-control" id="email" value="{{ email }}" disabled/>
      <button id="edit-email-icon" class="btn btn-dark"><i class="fa-sharp fa-solid fa-pen" style="color: #74C0FC;"></i></button>
    </div>
    <div class="container password">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" value="********" disabled/>
      <button id="edit-password-icon" class="btn btn-dark"><i class="fa-sharp fa-solid fa-pen" style="color: #74C0FC;"></i></button>
    </div>
    <div class="container">
      <button id="update-user-info-btn" class="btn btn-primary">Update User Info</button>
    </div>
  </div>
  <div class="container my-5 d-flex justify-content-center border">
    <div class="container d-flex p-2 justify-content-between">
      {% comment %} Here the text content of 2fa is gonna be dynamic {% endcomment %}
      {% if 2fa %}
        <button id="enable-disable-2fa" class="btn btn-warning">Disable 2FA</button>
      {% else %}
        <button id="enable-disable-2fa" class="btn btn-success">Enable 2FA</button>
      {% endif %}
      <button id="delete-acc-btn" type="button" class="btn btn-danger">Delete Account</button>
      <div class="col-6">
        <a onclick="route()" class="btn btn-primary" href="signout">Sign Out</a>
      </div>
    </div>
  </div>
</div>