<div class="background-image">
  <div class="container my-5">
    <!-- Sign form -->
    <form class="col-6 mx-auto card p-3 form-cont" onsubmit="handleSignInSubmit(event)">
      {% csrf_token %}
      <h1 style="text-align: center">
        <span style="color: rgb(34, 34, 34)">Sign In</span>
      </h1>
      <hr />
      <div class="alert alert-danger" role="alert" id="error-msg" style="display: none;"></div>
      <div class="form-group my-3">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="Enter username"
          required />
      </div>

      <div class="form-group my-3">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password"
          placeholder="Enter password" required />
      </div>
      <p class="p-3"> <a onclick="route()" href="password_reset">Forgot Password?</a> </p>
      <button type="submit" class="btn btn-dark">Submit</button>
      
      <p class="p-3">Doesnt have an account? <a onclick="route()" href="signup">Sign up</a></p>

      <div class="or-separator">
        <span>or</span>
      </div>
      <button onclick="handle42Login()" type="button" class="btn btn-dark my-3 fourty-two">42</button>
    </form>
  </div>
</div>