{% load static %}

<div class="leaderboardPage">
  <div class="background">
    <div class="wrapper container py-3 position-relative">
      <div class="row">
        <div class="col-md-12">
          <h1 class="d-flex justify-content-center mb-3">Leaderboard</h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Username</th>
                  <th>Games Played</th>
                  <th>Win percentage</th>
                  <th>Points</th>
                </tr>
              </thead>
              <tbody>
				{% if players %}
					{% for player in players %}
					<tr>
						<td>
						<div>
							{% if forloop.counter|add:page_offset == 1 %}
							<i class="fas fa-crown me-2" style="color: gold;"></i>
							{%else%}
							<span>{{ forloop.counter|add:page_offset }}</span>
							{%endif%}
						</div>
						</td>
						<td>
						<div>
							{% if player.profile_picture %}
							<img src="{{ player.profile_picture.url }}" alt="Profile Picture" class="profile-pic rounded-circle " style="width:30px;height: 30px;"/>
						  {% else %}
							<img src="{% static 'images/default_profile_pic.jpeg' %}" alt="Default Profile Picture" class="profile-pic rounded-circle " style="width:30px;height: 30px;"/>
						  {% endif %}
							<span>{{ player.username }}</span>
						</div>
						</td>
						<td>{{ player.games_played }}</td>
						<td>{{ player.win_percentage }}%</td>
						<td>{{ player.rating }}</td>
					</tr>
					{% endfor %}
				{% else %}
				<div>
					<h6 class="text-center">No players found</h6>
				</div>
				{% endif %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="pagination-size d-flex justify-content-center gap-2 mt-4">
          <a id="prev-page" class="btn btn-outline-light btn-sm  {% if previous == 0 %}disabled{% endif %}" href="/leaderboard?page={{previous}}" onclick="appRouter()"><i class="fas fa-chevron-left"></i></a>
          <span id="page-numbers" class="d-flex gap-2"><span class="d-flex justify-content-center mt-1"><h6 style="color: #84ddfc;">{{ current_page}} of {{num_pages}}</h6></span></span>
          <a id="next-page" class="btn btn-outline-light btn-sm  {% if next == 0 %}disabled{% endif %}" href="/leaderboard?page={{next}}" onclick="appRouter()"><i class="fas fa-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
