{% load static %}

<div class="leaderboardPage">
	<div class="background">
		<div class="wrapper container py-3 position-relative ">
			<div class="row">
				<div class="col-md-12">
					<h1 class="d-flex justify-content-center mb-3">Leaderboard</h1>
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th >Rank</th>
									<th>Username</th>
									<th>Games Played</th>
									<th>Win percentage</th>
									<th>Points</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div>
											<i class="fas fa-crown me-2" style="color: gold;"></i>
											<span>1</span>
										</div>
									</td>
									<td>
										<div>
											<img src="{% static 'images/default_profile_pic.jpeg' %}"
												alt="Default Profile Picture"
												class="profile-pic-nav rounded-circle me-2"
												style="width: 30px; height: 30px" />
											<span> Daniel </span>
										</div>
									</td>
									<td>70</td>
									<td>90%</td>
									<td>1600</td>
								</tr>
								<tr>
									<td>
										<div>
											<i class="fas fa-crown me-2" style="color: gold;"></i>
											<span>1</span>
										</div>
									</td>
									<td>
										<div>
											<img src="{% static 'images/default_profile_pic.jpeg' %}"
												alt="Default Profile Picture"
												class="profile-pic-nav rounded-circle me-2"
												style="width: 30px; height: 30px" />
											<span> Daniel </span>
										</div>
									</td>
									<td>70</td>
									<td>90%</td>
									<td>1600</td>
								</tr>
								<tr>
									<td>
										<div>
											<i class="fas fa-crown me-2" style="color: gold;"></i>
											<span>1</span>
										</div>
									</td>
									<td>
										<div>
											<img src="{% static 'images/default_profile_pic.jpeg' %}"
												alt="Default Profile Picture"
												class="profile-pic-nav rounded-circle me-2"
												style="width: 30px; height: 30px" />
											<span> Daniel </span>
										</div>
									</td>
									<td>70</td>
									<td>90%</td>
									<td>1600</td>
								</tr>
								<tr>
									<td>
										<div>
											<i class="fas fa-crown me-2" style="color: gold;"></i>
											<span>1</span>
										</div>
									</td>
									<td>
										<div>
											<img src="{% static 'images/default_profile_pic.jpeg' %}"
												alt="Default Profile Picture"
												class="profile-pic-nav rounded-circle me-2"
												style="width: 30px; height: 30px" />
											<span> Daniel </span>
										</div>
									</td>
									<td>70</td>
									<td>90%</td>
									<td>1600</td>
								</tr>
								<tr>
									<td>
										<div>
											<i class="fas fa-crown me-2" style="color: gold;"></i>
											<span>1</span>
										</div>
									</td>
									<td>
										<div>
											<img src="{% static 'images/default_profile_pic.jpeg' %}"
												alt="Default Profile Picture"
												class="profile-pic-nav rounded-circle me-2"
												style="width: 30px; height: 30px" />
											<span> Daniel </span>
										</div>
									</td>
									<td>70</td>
									<td>90%</td>
									<td>1600</td>
								</tr>
								<tr>
									<td>
										<div>
											<i class="fas fa-crown me-2" style="color: gold;"></i>
											<span>1</span>
										</div>
									</td>
									<td>
										<div>
											<img src="{% static 'images/default_profile_pic.jpeg' %}"
												alt="Default Profile Picture"
												class="profile-pic-nav rounded-circle me-2"
												style="width: 30px; height: 30px" />
											<span> Daniel </span>
										</div>
									</td>
									<td>70</td>
									<td>90%</td>
									<td>1600</td>
								</tr>
								<tr>
									<td>
										<div>
											<i class="fas fa-crown me-2" style="color: gold;"></i>
											<span>1</span>
										</div>
									</td>
									<td>
										<div>
											<img src="{% static 'images/default_profile_pic.jpeg' %}"
												alt="Default Profile Picture"
												class="profile-pic-nav rounded-circle me-2"
												style="width: 30px; height: 30px" />
											<span> Daniel </span>
										</div>
									</td>
									<td>70</td>
									<td>90%</td>
									<td>1600</td>
								</tr>
								<tr>
									<td>
										<div>
											<i class="fas fa-crown me-2" style="color: gold;"></i>
											<span>1</span>
										</div>
									</td>
									<td>
										<div>
											<img src="{% static 'images/default_profile_pic.jpeg' %}"
												alt="Default Profile Picture"
												class="profile-pic-nav rounded-circle me-2"
												style="width: 30px; height: 30px" />
											<span> Daniel </span>
										</div>
									</td>
									<td>70</td>
									<td>90%</td>
									<td>1600</td>
								</tr>
								<tr>
									<td>
										<div>
											<i class="fas fa-crown me-2" style="color: gold;"></i>
											<span>1</span>
										</div>
									</td>
									<td>
										<div>
											<img src="{% static 'images/default_profile_pic.jpeg' %}"
												alt="Default Profile Picture"
												class="profile-pic-nav rounded-circle me-2"
												style="width: 30px; height: 30px" />
											<span> Daniel </span>
										</div>
									</td>
									<td>70</td>
									<td>90%</td>
									<td>1600</td>
								</tr>
								<tr>
									<td>
										<div>
											<i class="fas fa-crown me-2" style="color: gold;"></i>
											<span>1</span>
										</div>
									</td>
									<td>
										<div>
											<img src="{% static 'images/default_profile_pic.jpeg' %}"
												alt="Default Profile Picture"
												class="profile-pic-nav rounded-circle me-2"
												style="width: 30px; height: 30px" />
											<span> Daniel </span>
										</div>
									</td>
									<td>70</td>
									<td>90%</td>
									<td>1600</td>
								</tr>
								

							</tbody>
						</table>
					</div>
				</div>
				<div class="pagination-size d-flex justify-content-center gap-2 mt-4">
					<button id="prev-page" class="btn btn-outline-light btn-sm" disabled>
						<i class="fas fa-chevron-left"></i>
					</button>
					<span id="page-numbers" class="d-flex gap-2">
					<span class="d-flex justify-content-center mt-1 "> <h6 style="color: #84ddfc;">1 of 1</h6> </span>
					</span>
					<button id="next-page" class="btn btn-outline-light btn-sm">
						<i class="fas fa-chevron-right"></i>
					</button>
				</div>
			</div>

		</div>
	</div>
</div>